a{
    color: red;
    
}

a:visited{
    color: green;
}

button{
    background-color: blue;
    color: white;
    border-color: black;
    border-style: solid;
    border-radius: 30%;
    border: 25;
    margin-left: 15;
    padding: 10;

}

thead{
    font-weight: bold;
    background-color:darksalmon;
    color: aliceblue;
}